<!--
    Author: Kenneth Agustin
    Team: Team Seven
    Course: COMP229 - Fall 2020
    Purpose: Team Project - Survey Site  
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add Survey Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>      

            <fieldset>
                <h1>Thank you for taking a survey!</h1>             
            </fieldset>
            <fieldset>
                <legend>Take another survey</legend>
                <!-- Button to submit the Survey -->
                <a href="/survey-list" class="btn btn-primary" type="submit">
                    <i class="fas fa-check-circle"></i> Survey List
                </a>
            </fieldset>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>

