<!--
    Author: Author: Hong Viet
    Team: Team Seven
    Course: COMP229 - Fall 2020
    Purpose: Team Project - Survey Site  
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

    

    <!-- Main Content -->
    <main class="container">
      <div class="row">
          <div class="col-md-offset-3 col-md-6">
              <h1><%= title %></h1>
              <!-- Paragraph - Short Description for the Survey List -->
              <p>Welcome to Team Se7en's survey site. You, as a user, can create, update, and delete a survey of your own.</p>
              <!-- Button to add a survey -->
              <a href="/survey-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Survey</a>
              <br>
              <table class="table table-bordered table-striped table-hover">
                  <!-- Header Row -->
                  <tr>
                      <!---->
                      <th class="text-center col-2">Name</th> 
                      <th class="col-6">Description</th> 
                      <th class="text-center col-2">Published</th> 
                      <th class="text-center col-2">Start</th> 
                      <th class="text-center col-2">End</th> 
                      <th class="text-center col-1"></th> 
                      <th class="text-center col-1"></th> 
                      <th class="text-center col-1"></th> 
                      <th class="text-center col-1"></th> 
                  </tr>

                  <!-- Repeatable Template Row -->
                  <% for(let count = 0; count < SurveyList.length; count++) { %>
                    <tr>
                        <td class="text-center col-2"><%= SurveyList[count].Name %></td>
                        <td class="text-center col-6"><%= SurveyList[count].Description %></td>
                        <td class="text-center col-2"><%= SurveyList[count].Published %></td>
                        <td class="text-center col-2"><%= SurveyList[count].Start %></td>
                        <td class="text-center col-2"><%= SurveyList[count].End %></td> 
                        <!-- Button for Take Survey -->
                        <td class="text-center col-1">
                            <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary">
                            <i class="fas fa-user-edit"></i> Take Survey</a>
                        </td> 
                        <!-- Button for Edit Survey -->
                        <td class="text-center col-1">
                            <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i> Edit Survey</a>
                        </td> 
                        <!-- Button for Delete Survey -->
                        <td class="text-center col-1">
                            <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete Survey</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/question-list/<%= SurveyList[count]._id %>" class="btn btn-primary">
                            <i class="fas fa-user-edit"></i> add/ delete /edit questions</a>
                        </td>                         
                    </tr>
                  <% } %>
              </table>
          </div>
      </div>
    </main>
    
<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>






